<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vitória Caminha</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <li><a href="../index.html">Página inicial</a></li>
        <li><a href="./sobre.html">Sobre</a></li>
        <li><a href="./contatos.html">Contatos</a></li>
    </header>

    <main class="contatos">
        <h2>E-mail: <a target="_blank" href="mailto:vitoria@praciano.com.br">vitoria@praciano.com.br</a></h2>
        <h2>GitHub: <a target="_blank" href="https://github.com/vitoriacaminha">VitoriaCaminha</a></h2>
        <h2>Instagram: <a target="_blank" href="https://www.instagram.com/vitoria.caminhar">vitoria.caminhar</a></h2>
    </main>

</body>

</html>